*,
*::before,
*::after {
  outline: 0;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a,
button :hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}
li {
  list-style: none;
}
button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
